.section {
  @extend %flex;
  @include size-m-w(1200px, auto);
  margin-bottom: 100px;
  margin: 0 auto;
}
.row-holder {
  @extend %flex;
  // @include size-m-w(1200px, auto);
  flex-direction: row;
  gap: 56px;
  //margin: 0 auto;

  //margin-bottom: 70px;
}
.main {
  @include size-m-w(1440px, auto);
  //background-color: $bg-main;
  //padding: 55px 30px 55px 135px;
}
